@font-face
{
  font-family: "Proxima Nova Bold";
  src: url("../fonts/Proxima Nova Bold.otf");
}
@font-face 
{
  font-family: "Proxima Nova Light";
  src: url("../fonts/Proxima Nova Light.otf");

}
@font-face 
{
  font-family: "Proxima Nova Regular";
  src: url("../fonts/Proxima Nova Regular.otf");
 
}
@font-face 
{
  font-family: "Proxima Nova Semibold";
  src: url("../fonts/Proxima Nova Semibold.otf");
}
@font-face 
{
  font-family: "Proxima Nova Thin";
  src: url("../fonts/Proxima Nova Thin.otf");
}
@font-face 
{
  font-family: "Supermolot Light Italic";
  src: url("../fonts/Supermolot Light Italic.otf");
}
@font-face 
{
  font-family: "Supermolot Bold";
  src: url("../fonts/Supermolot Bold.otf");
 
}
@font-face 
{
  font-family: "Supermolot Bold Italic";
  src: url("../fonts/Supermolot Bold Italic.otf");
}
@font-face 
{
  font-family: "Supermolot Black";
  src: url("../fonts/Supermolot Black.otf");
}
@font-face
{
  font-family: "Supermolot Black Italic";
  src: url("../fonts/Supermolot Black Italic.otf");
}
@font-face
{
  font-family: "Proxima Nova Bold";
  src: url("../fonts/Proxima Nova Bold.otf");
}
@font-face
{
  font-family: "Proxima Nova Light";
  src: url("../fonts/Proxima Nova Light.otf");
}
@font-face
{
  font-family: "Proxima Nova Regular";
  src: url("../fonts/Proxima Nova Regular.otf");
}
@font-face
{
  font-family: "Proxima Nova Semibold";
  src: url("../fonts/Proxima Nova Semibold.otf");
}
@font-face
{
  font-family: "Proxima Nova Thin";
  src: url("../fonts/Proxima Nova Thin.otf");
}

.hidden
{
  opacity: 0;
}
.visible
{
  opacity: 1;
}
section
{
    overflow: hidden;
    position: relative;
}
/*HEADER
==============================================================================*/
.header
{
    background: url('../images/header.jpg')no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.title
{
    margin-left: 44%;
    margin-top: 10px;
}
.title img
{
  margin-bottom: 10px;
}

.fixed
{
  position: fixed;
  width: 100%;
  z-index: 3;
}

nav
{
    margin-left: -20px;   
    margin-top: 60px;
}

aside.black
{
  background: rgba(0, 0, 0, 0.8);
  transition: 2s;
}
aside.black ul li a
{
  color:  #fff;
}
ul, li 
{
    display: block;
    padding: 0;
    margin: 0;
}

.menu__item
{
    font-size: 18px;
    font-family: "Proxima Nova Regular";
    
}
.menu__item a
{  
    position: relative;
    display: block;
    padding: 8px 20px;
    color: #252525;
    text-decoration: none;
    transition: 1s;
    overflow: hidden;    
}


.menu__item a::before 
{
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  left: -100%;
  width: 100%;
  height: 4px;
  background: #2196f3;
  transition: 1s;
}
.menu__item a:hover 
{
  color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
}
.menu__item a:hover::before 
{
  animation: animate 1s linear forwards; 
}

@keyframes animate 
{
  0% 
  {
    top: calc(50% - 2px);
    left: -100%;
    height: 4px;
    z-index: 1;
  }
  50% 
  {
    top: calc(50% - 2px);
    left: 0;
    height: 4px;
    z-index: 1;
  }
  100% 
  {
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
  }
}

.menu__item a::before 
{
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  left: -100%;
  width: 100%;
  height: 4px;
  background: #2196f3;
  transition: 0.5s;
}
.menu__item a:hover 
{
  color: #fff;
}
.menu__item a:hover::before 
{
  animation: animate .5s linear forwards; 
}

@keyframes animate 
{
  0% 
  {
    top: calc(50% - 2px);
    left: -100%;
    height: 4px;
    z-index: 1;
  }
  50% 
  {
    top: calc(50% - 2px);
    left: 0;
    height: 4px;
    z-index: 1;
  }
  100% 
  {
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
  }
}

#toggle
{
    position: absolute;
    right: 20px;
    top: 14px;
    z-index: 999;
    width: 40px;
    height: 40px;
    cursor: pointer;
    float: right;
    transition: all 0.3s ease-out;
    visibility: hidden;
    opacity: 0;
}

#toggle .span
{
    height: 4px;
    background: #fff;
    transition: all 0.3s ease-out;
    backface-visibility: hidden;
    margin: 5px auto;
}

#toggle.on #one
{
    transform: rotate(45deg) translateX(2px) translateY(4px);
}
#toggle.on #two
{
    opacity: 0;
}
#toggle.on #three
{
    transform: rotate(-45deg) translateX(8px) translateY(-10px);
}

#resize
{
    z-index: 1;
    top: 0px;
    position: absolute;
    background: black;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-out;
    display: table;
}

#resize .menu
{
    height: 50px;
    font-size: 50px;
    min-height: 50px;
    font-weight: 200;
    transition: all 0.3s ease-out;
}

#resize .menu li a 
{
    font-family: "Supermolot Italic";
    color: white;
    padding: 30px 30px;
    
}
#resize .menu li a:hover
{
    color: black;
}
#resize li:nth-child(1) {
      margin-top:140px;
}
#resize li
{
    text-align: left;
    margin-left: 30%;
    width: 150px;

}

#resize.active
{
    margin-left: -80px;
    width: 500px;
    height: 100vh;
    visibility: visible;
    opacity: 1;
}


.offer
{
    margin-top: 200px;
    text-align: center;
}

.offer__title_heading
{
    color: #fff;
    font-family: "Supermolot Bold";
    font-size: 48px;
}

.offer__title_span
{
    display: block;
    margin-top: 10px;
    font-family: "Proxima Nova Bold";
    font-size: 22px;  
    color: #fff;  
}


.btnflip {
    position: absolute;
    top: 230px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 60px;
    text-align: center;
    transform-style: preserve-3d;
    perspective: 1000px;
    transform-origin: center center;
}
.btnflip-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    background-color: rgba(255,255,255, .05);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    border-radius: 30px;
    color: #fff;
    font-size: 18px;
    font-family: "Proxima Nova Regular";
    transition: 1s;
}
.btnflip-item.btnflip__front {
  transform: rotateX(0deg) translateZ(20px);
}
.btnflip:hover .btnflip-item.btnflip__front {
  transform: rotateX(-180deg) translateZ(20px);
}
.btnflip-item.btnflip__back {
  transform: rotateX(180deg) translateZ(20px);
}
.btnflip:hover .btnflip-item.btnflip__back {
  transform: rotateX(0deg) translateZ(20px);
}
.btnflip-item.btnflip__center {
  background: linear-gradient(to left, #ffdd1f, #ED1651 );
}
.btnflip-item.btnflip__center::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #c31a5b, #ffdd1f );
  border-radius: 30px;
  transform: translateZ(-1px);
}
.btnflip:hover .btnflip-item.btnflip__center {
  transform: rotateX(-180deg);
}

.mouse
{
    text-align: center;
    margin-top: 150px;
}
.mouse span
{
    font-family: "Proxima Nova Light";
    font-size: 18px;
    color: black;    
    font-weight: 900;
}



/*
@media_HEADER
=============================================================================*/
@media screen and (max-width: 994px)
{
  .offer__title a
  {
    top: 300px;
  } 
  .header .title
  {
    margin-left: 1%;  
  }

}

@media screen and (max-width: 768px)
{
    #toggle
    {
        visibility: visible;
        opacity: 1;
        margin-top: 50px;
    }
    nav
    {
        display: none;
    }
    #resize .menu li a 
    {
      text-align: center;
      width: 150px;
      margin-left: -150px;
      padding: 2px 5px;
    }
}

@media screen and (min-width: 768)
{
    #resize
    {
        visibility: hidden !important;
    }
}
@media screen and (max-width: 576px)
{
  .offer
  {
    margin-top: 160px;
  }
  .offer__title a
  {
    top: 250px;
  }
  .offer__title_heading
  {
    font-size: 36px;
  } 
  .offer__title_span
  {
    font-size: 16px;
  }
  .mouse
  {
    margin-top: 120px;
  }
    #resize .menu li a 
    {
      text-align: center;
      width: 150px;
      margin-left: -150px;
      padding: 2px 5px;
    }
}
@media screen and (max-width: 390px)
{

  .offer__title a
  {
    top: 220px;
  }
  .offer__title_heading
  {
    font-size: 28px;
  } 
  .offer__title_span
  {
    font-size: 16px;
  }
  .mouse
  {
    margin-top: 100px;
  }
  #resize .menu li a 
  {
    text-align: center;
    width: 120px;
    margin-left: -125px;
    padding: 2px 2px;

  }

}
/*ADVERTISING
==============================================================================*/
.advertising
{
  background: url('../images/bg_1.jpg')no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
}

.advertising__title
{
  margin-top: 140px;
  text-align: center;
}

.advertising__title_h1
{
  font-size: 48px;
  font-family: "Supermolot Bold Italic";
}

.info
{
  text-align: center;
  margin-top: 20px;
}
.info__title
{
  font-family: "Supermolot Light Italic";
  font-size: 22px;
  font-weight: 700;
}

.sale, .prize, .delivery
{
  text-align: center;
}
.sale span
{
  display: block;
  margin-top: 50px;
  font-size: 16px;
  font-family: "Supermolot Bold Italic";
}
.prize span
{
  display: block;
  margin-top: 14px;
  font-size: 16px;
  font-family: "Supermolot Bold Italic";
}
.delivery span
{
  display: block;
  margin-top: 25px;
  font-size: 16px;
  font-family: "Supermolot Bold Italic";
}
.run
{
  text-align: center;
}
.run a
{
  height: 40px;
  margin-left: 115px;
  margin-top: -105px;
}
.run a .btnflip-item
{
  line-height: 40px;
}
.run img, .sale img, .prize img, .delivery img
{
  max-width: 100%;
}

/*
@media_ADVERTISING
=============================================================================*/
@media screen and (max-width: 576px)
{
  .advertising__title_h1
  {
    font-size: 32px;  
  }
  .info__title
  {
    font-size: 16px;
  }
  .run a
  {
    width: 130px;
    height: 40px;
    margin-left: 85px;
    margin-top: -125px;
  }  
}
/*FOTO
==============================================================================*/

.text__title
{
  font-size: 48px;
  font-family: "Proxima Nova Semibold";
  color: #fff;
  margin-top: 60px;
  margin-bottom: 150px;
  text-align: center;
}
.text__title span
{
  color: pink;
}
.left
{
  margin-right: 20px;
}
.right
{
  margin-left: 20px;
}
.foto
{
  position:relative;
  padding-top:85px;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: url('../images/bg_foto.jpg')no-repeat;
  background-position: center;
  background-size: cover;
 }
.style_prevu_kit img
{
  width: 100%;
  height: auto;
}
.style_prevu_kit_1
{
  width: 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 50px;
}
.style_prevu_kit
{
    display: block;
    border:0;
    width:560px;
    height:410px;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   

}
.style_prevu_kit:hover
{
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}
.style_prevu_kit_1 img:hover
{
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}
/*
@media_FOTO
=============================================================================*/
@media screen and (max-width: 1200px)
{
  .left
  {
    margin-left: -100px;
  }
  .right
  {
    margin-left: -20px;
  }
}
@media screen and (max-width: 992px)
{
  .left
  {
    margin-left: 80px;
  }
    .right
  {
    margin-left: 80px;
  }
  .text a
  {
    margin-top: 50px;
  }
}
@media screen and (max-width: 768px)
{
  .left
  {
    margin-left: -20px;
  }
    .right
  {
    margin-left: -20px;
  }
  .text a
  {
    margin-top: 100px;
  }
}
@media screen and (max-width: 576px)
{
  .left, .right
  {
    margin: 0 auto;
  }
  .foto img
  {
    width: 100%;
  }
  .style_prevu_kit
  {
    width: 100%;
    height: auto;
  }
  .style_prevu_kit img
  {
    max-width: 100%;
  }
  .text__title
  {
    font-size: 32px;
  }
  .text__title span
  {
    font-size: 24px;
  }
  .text h3
  {
    font-size: 20px;
  }
  .text a
  {
    margin-top: -60px;
  }

}
/*ABOUT
==============================================================================*/
.about
{
  background: linear-gradient(to left, #c1a9f2, #76e1ef );
  height: auto;
}
.about__title
{
  font-family: "Supermolot Light Italic";
  font-weight: 900;
  margin-top: 160px;
  text-align: center;
}

.about__title_bot
{
  display: block;
  font-family: "Supermolot Bold Italic";
  margin-top: 50px;
  text-align: center;
  margin-bottom: 150px;
  color: black;
}
.about__title_bot h1
{
 border-left: 2px solid black;
 border-right: 2px solid black;
}
.about__title_bot a
{
  margin-top: 670px;
}
.about__title_info
{
  text-align: left;
  margin-top: 50px;
}
.about__title_span
{
  display: block;
  font-family: "Proxima Nova Bold";
  font-size: 34px;
}
.about__title_span span
{
  font-family: "Supermolot Bold Italic";  
}
/*
@media_ABOUT
=============================================================================*/
@media screen and (max-width: 1200px)
{
  .about__title_bot a
  {
    margin-top: 720px;
  }
}
@media screen and (max-width: 768px)
{
  .about__title_bot a
  {
    margin-top: 820px;
  }
}
@media screen and (max-width: 576px)
{
  .about__title_bot a
  {
    margin-top: 820px;
  }
  .about__title_bot h1
  {
    font-size: 20px;
  }
}
@media screen and (max-width: 390px)
{
  .about__title_bot a
  {
    margin-top: 960px;
  }
}
@media screen and (max-width: 330px)
{
  .about__title_bot a
  {
    margin-top: 1060px;
  }  
}
/*CONTACT
==============================================================================*/
.contact
{
  background: url('../images/footer_bg.jpg')no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
}

.contact__info
{
  margin-top: 150px;
  text-align: center;
}
.contact__info_span
{
  font-family: "Supermolot Light Italic";
  color: #fff;
  border-bottom: 2px solid #fff;
}

.contact__title_bot
{
  display: block;
  font-family: "Supermolot Bold Italic";
  margin-top: 120px;
  text-align: center;
  margin-bottom: 150px;
  color: #f4f2c3;
  border-bottom: 2px solid #fff;
}
.contact__title_bot h1
{
 border-left: 2px solid #fff;
 border-right: 2px solid #fff;
}

.contact__title_info
{
  text-align: left;
  margin-top: 50px;
}
.contact__title_span
{
  display: block;
  font-family: "Proxima Nova Bold";
  color: #f4f2c3;
  font-size: 34px;
}
.contact__title_span span
{
  font-family: "Supermolot Bold Italic";  
}